.container{
    background-color: darkgrey;
    width:50%;
    height: 400px;

    position: relative;
    top: 150px;
    left: 350px;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
}
.container:hover{
    box-shadow: 10px 10px 20px black;
}
img{
    height: 200px;
    width: 200px;
}
.name{
    font-size: 30px;
    letter-spacing: 2px;
    transition: 0.5s;
}
.name:hover{
    text-shadow: 5px 5px 10px black;
}
